@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #020617, #0f172a, #020617);
}

* {
  box-sizing: border-box;
}
